:root {
  --sveltevis-color: #505050;
  --sveltevis-font-size: 12pt;
}

@media all and (max-width: 700px) {
  :root {
    --sveltevis-font-size: 11pt;
  } 
}

@media (prefers-color-scheme: light) {
  :root {
    --sveltevis-color: #505050;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --sveltevis-color: #b8b8b8;
  }
}